# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
logs/
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Model Weights
*.pt
*.onnx

# Jupyter
.ipynb_checkpoints/

# Test Cache
.pytest_cache/

# Testing
testing.py